@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
.navbar{
    background-color: black;
    height: 100px !important;
    width: 100%;
  }
  
  .navbar img{
    height: 80px;
    width: auto;
  }
  
  .navbar h1{
    color: white;
  }
  
  .logo{
    padding-left: 16px;
}

/* Banner */

.example1 {
    height: 32px;  
    overflow: hidden;
    position: relative;
    background-color: gray;
    color: white;
   }
   .example1 h3 {
    font-size: 1em;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 30px;
    text-align: center;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);  
    transform:translateX(100%);
    /* Apply animation to this element */  
    -moz-animation: example1 20s linear infinite;
    -webkit-animation: example1 20s linear infinite;
    animation: example1 20s linear infinite;
   }
   /* Move it (define the animation) */
   @-moz-keyframes example1 {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
   }
   @-webkit-keyframes example1 {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
   }
   @keyframes example1 {
    0%   { 
    -moz-transform: translateX(100%); /* Firefox bug fix */
    -webkit-transform: translateX(100%); /* Firefox bug fix */
    transform: translateX(100%);     
    }
    100% { 
    -moz-transform: translateX(-100%); /* Firefox bug fix */
    -webkit-transform: translateX(-100%); /* Firefox bug fix */
    transform: translateX(-100%); 
    }
   }

/* Footer */

.footer {
    background: black;
    width: 100%;
    height: 60px;
    font-family: 'DotGothic16', sans-serif;
  }



